:root {
    /*color variables*/
    --col-first: #333333; 
    --col-second: #ffffff; 
    --col-third: #e1f4f3; 
    --col-fourth: #706c61;
    --col-first-trans: rgba(51, 51, 51, 0.3);
}

body {
}

.bgd {
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hero {
    width: 100%;
    height: fit-content;
    background-color: var(--col-first-trans);
}

.hero > h1 {
    font-family: Orbitron, serif;
    text-align: center;
    font-size: 3rem;
    color: var(--col-second);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.disclaimer-container,
.form,
form > h2 {
    font-family: 'Exo 2', serif;
    color: var(--col-second);
    text-align: center;
}

.disclaimer-container {
    width: 80vw;
    margin: 1em auto;
}

.form {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 1fr;
    width: 100vw;
    height: 2em;
    background-color: var(--col-first-trans);
    padding: 0.25rem;
}

.form > label {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: calc(100vw / 3);
    margin-left: 1em;
}

.form > input {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-right: 1em;
    height: 75%;
    color: var(--col-second);
    background-color: var(--col-first-trans);
    border: 1px solid var(--col-first);
    box-shadow: 0px 0px 2px var(--col-fourth);
}

.form > input:focus-visible,
.form > input:focus {
    border: 2px solid var(--col-third);
    box-shadow: 0px, 0px 3px var(--col-second);
}

.form > input::placeholder {
    color: var(--col-third);
}

.form > button {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: calc(100vw / 3);
    background-color: var(--col-first-trans);
    color: var(--col-second);
    border: 1px solid var(--col-first);
    box-shadow: 0px 0px 2px var(--col-fourth);
}

.form > button:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

.form > button:active {
    border: 2px solid var(--col-third);
    box-shadow: 0px 0px 3px var(--col-third);
    text-shadow: 0px 0px 3px var(--col-third);
    transition: 0.8s ease-in-out;
}

.error {
    display: none;
}

footer {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0%;
    left: 0%;
    text-align: center;
    font-family: 'Exo 2', serif;
    color: var(--col-second);
}

footer > p {
    margin-bottom: 3em;
}

footer > p > a {
    color: var(--col-second);
}

footer > p > a:hover {
    color: var(--col-third);
}

footer > p > a:visited {
    color: var(--col-first-trans);
}

/*media queries*/

/* Small devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Styles for tablets */
}

/* Large devices (large desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Styles for large desktops */
}


