:root {
    /*color variables*/
    --col-first: #333333; 
    --col-second: #ffffff; 
    --col-third: #e1f4f3; 
    --col-fourth: #706c61;
    --col-first-trans: rgba(51, 51, 51, 0.3);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: var(--col-first-trans);
    background-color: var(--col-first);
}

.bgd {
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hero {
    width: 100%;
    height: fit-content;
    background-color: var(--col-first-trans);
}

.hero > h1 {
    font-family: Orbitron, serif;
    text-align: center;
    font-size: 3rem;
    color: var(--col-second);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.hero > h1:before {
    content: url("./images/box.svg");
    height: 3rem;
    width: auto;
    padding: 0.5em;
    padding-bottom: 0.2em;
}

.disclaimer-container,
.form,
form > h2 {
    font-family: 'Exo 2', serif;
    color: var(--col-second);
    text-align: center;
}

.disclaimer-container {
    width: 80vw;
    margin: 1em auto;
}

.form {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 1fr;
    width: 100vw;
    height: 2em;
    background-color: var(--col-first-trans);
    padding: 0.25rem;
}

.form > label {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: calc(100vw / 3);
    margin-left: 1em;
}

.form > input {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-right: 1em;
    height: 75%;
    color: var(--col-second);
    background-color: var(--col-first-trans);
    border: 1px solid var(--col-first);
    box-shadow: 0px 0px 2px var(--col-fourth);
}

.form > input:focus-visible,
.form > input:focus {
    border: 2px solid var(--col-third);
    box-shadow: 0px, 0px 3px var(--col-second);
}

.form > input::placeholder {
    color: var(--col-third);
}

.form > button {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: calc(100vw / 3);
    background-color: var(--col-first-trans);
    color: var(--col-second);
    border: 1px solid var(--col-first);
    box-shadow: 0px 0px 2px var(--col-fourth);
}

.form > button:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

.form > button:active {
    border: 2px solid var(--col-third);
    box-shadow: 0px 0px 3px var(--col-third);
    text-shadow: 0px 0px 3px var(--col-third);
    transition: 0.8s ease-in-out;
}

.error {
    display: none;
}

footer {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0%;
    left: 0%;
    text-align: center;
    font-family: 'Exo 2', serif;
    color: var(--col-second);
}

footer > p {
    margin-bottom: 3em;
}

footer > p > a {
    color: var(--col-second);
}

footer > p > a:hover {
    color: var(--col-third);
}

input:valid {
    box-shadow: px 0px 3px green;
}

input:invalid {
    box-shadow: px 0px 3px red;
}

/*media queries*/

/* Small devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  
}

/* Large devices */
@media (min-width: 993px) {
    .bgd {
        width: calc(100vw / 3);
    }
    .hero {
        width: calc(100vw / 3);
        position: absolute;
        top: 10%;
        left: 0%;
    }
    .disclaimer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc((100vw / 3) * 2);
        position: absolute;
        right: 0%;
        top: 0%;
    }
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin: 0 auto;
        gap: 1em;
    }
    .form {
        width: calc(90vw / 3);
        height: calc(100vh / 12);
        padding: 1em;
        background: linear-gradient(
            180deg,
            var(--col-first-trans) 0%,
            var(--col-third) 60%,
            var(--col-first-trans) 100%
        );
    }
    .form > input {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        width: 90%;
        margin: auto;
        padding: 0 0.5em;
    }
    .form > label {
        position: relative;
        transform: scale(0.8);
        white-space: nowrap;
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
        top: 15%;
        right: -35%;
    }
    h2 {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        height: fit-content;
        margin: auto 0;
    }
    .form.submit {
        grid-row: 5 / 6;
        grid-column: 1 / 3;
        margin: 0 auto;
        width: fit-content;
        border-radius: 0rem;
    }
    .form > button:hover {
    transform: scale(1.01);
    transition: 0.1s ease-in-out;
    }
}




